body {
    background-image: url('https://t3.ftcdn.net/jpg/02/59/31/70/360_F_259317013_nJJaBgGGzvXMd6cAyLd6yMJtbdnd61wk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  
 }

 .h1= {
    color: #f7f7f7;
 }